@mixin disable {
  background-color: $input-disabled-bg;
  border-color: $input-disabled-border-color;
  cursor: not-allowed;
  box-shadow: none;
}
.qi-input-wrapper {
  background-color: $input-bg;
  line-height: $input-line-height;
  border-radius: $input-border-radius;
  box-shadow: $input-box-shadow;
  padding: $input-padding-y $input-padding-x;
  outline: 0;
  border: $input-border-width solid $input-border-color;
  display: inline-flex;
  &.disabled {
    @include disable();
  }
  &-focused {
    border-color: $input-focus-border-color;
    box-shadow: $input-focus-box-shadow;
  }
  &-sm {
    padding: $btn-padding-y-sm $input-padding-x-sm;
    font-size: $input-font-size-sm;
    border-radius: $input-border-radius-sm;
  }
  &-lg {
    padding: $btn-padding-y-lg $input-padding-x-lg;
    font-size: $input-font-size-lg;
    border-radius: $input-border-radius-lg;
  }
}
.qi-input {
  flex: 1;
  margin: 0;
  padding: 0;
  outline: 0;
  font-variant: tabular-nums;
  list-style: none;
  font-family: $input-font-family;
  font-weight: $input-font-weight;
  position: relative;
  display: inline-block;
  min-width: 0;
  color: $input-color;
  font-size: $input-font-size;
  background-image: none;
  border: none;
  transition: all 0.3s;
  &[disabled] {
    @include disable();
  }
  &-prefix,
  &-suffix {
    white-space: nowrap;
    display: flex;
    flex: none;
    align-items: center;
  }
  &-prefix {
    margin-right: 4px;
  }
  &-suffix {
    margin-left: 4px;
  }
}
