.qi-menu {
  position: relative;
  list-style: none;
  display: flex;
  padding-left: 0;
  box-shadow: $menu-box-shadow;
}

.qi-menu-horizontal {
  flex-direction: row;
  .qi-menu-item {
    border-bottom: $menu-item-active-border-width solid transparent;
    &.active,
    &:hover {
      border-color: $primary;
    }
  }
  .qi-sub-menu {
    &:hover {
      .qi-sub-menu-title-suffix {
        transform: rotate(180deg);
      }
    }
  }
}

.qi-menu-vertical {
  flex-direction: column;
  .qi-menu-item {
    border-left: $menu-item-active-border-width solid transparent;
    &.active,
    &:hover {
      border-color: $primary;
    }
  }
  .qi-sub-menu {
    &.opened {
      .qi-sub-menu-title-suffix {
        transform: rotateX(180deg);
      }
    }
  }
}

.qi-sub-menu {
  position: relative;
}

.qi-menu-item,
.qi-sub-menu-title {
  padding: $menu-item-padding-y $menu-item-padding-x;
  list-style: none;
  cursor: pointer;
  transition: $menu-transition;
  &:hover,
  &:focus {
    text-decoration: none;
    color: $menu-item-active-color;
  }
  &.active {
    color: $menu-item-active-color;
  }
  &.disabled {
    color: $menu-item-disabled-color;
    cursor: not-allowed;
    pointer-events: none;
  }
}

.qi-sub-menu-title {
  display: flex;
  align-items: center;
  &-suffix {
    transition: transform 0.3s ease-in-out;
    margin-left: 4px;
  }
}

.qi-sub-menu-body {
  list-style: none;
  .qi-menu-item {
    border: none;
    &:hover {
      border: none;
    }
  }
}

.qi-menu-horizontal {
  .qi-sub-menu-body {
    position: absolute;
    background: $white;
    z-index: 100;
    top: calc(100% + 8px);
    left: 0;
    min-width: 100%;
    padding-left: 0;
    border: $menu-border-width solid $menu-border-color;
    box-shadow: $submenu-box-shadow;
  }
}
