@mixin btn-size($padding-x, $padding-y, $font-size, $border-radius) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  border-radius: $border-radius;
}

@mixin btn-type(
  $background,
  $color,
  $border: $background,
  $hover-background: lighten($background, 5%),
  $hover-border: $hover-background,
  $hover-color: $color
) {
  color: $color;
  background-color: $background;
  border-color: $border;
  &:hover {
    color: $hover-color;
    background: $hover-background;
    border-color: $hover-border;
  }
  &.active,
  &:active {
    color: darken($color, 5%);
    background-color: darken($background, 5%);
    border-color: darken($border, 5%);
  }
  &.disabled,
  &:disabled {
    color: $color;
    background-color: $background;
    border-color: $border;
  }
}

@mixin qi-animation-zoom-in(
  $direction: 'top',
  $scaleStart,
  $scaleEnd,
  $origin
) {
  .qi-animation-zoom-in-#{$direction}-enter {
    opacity: 0;
    transform: $scaleStart;
  }
  .qi-animation-zoom-in-#{$direction}-enter-active {
    opacity: 1;
    transform: $scaleEnd;
    transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1),
      opacity 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transform-origin: $origin;
  }
  .qi-animation-zoom-in-#{$direction}-exit-done {
    display: none;
  }
  .qi-animation-zoom-in-#{$direction}-exit-active {
    opacity: 0;
    transform: $scaleStart;
    transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1),
      opacity 300ms cubic-bezier(0.23, 1, 0.32, 1);
    transform-origin: $origin;
  }
}
